__latexindent_temp.tex
sampleThesis.pdf
sampleThesis.synctex.gz
sampleThesis.toc
sampleThesis.pdf
sampleThesis.lot
sampleThesis.log
sampleThesis.lof
sampleThesis.fls
sampleThesis.fdb_latexmk
sampleThesis.blg
sampleThesis.bbl
sampleThesis.aux
sampleThesis.pdf
